.footer .footer-container{
    align-items: center;
    background-color: aqua;
    width: 100%;
    height: 39px;
    margin-bottom: 0px;
}

.footer-container {
    padding-left: 8rem;
    padding-right: 9rem;
}
.footer-container p{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 0px;
    margin-top: 20px;
}