.nav {
    display: block;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: var(--color-background);
    border-right: 1px solid var(--color-border);
    padding: 50px 40px;
    z-index: 9;
}


.toggle {
    display: block;
    width: 25px;
    cursor: pointer;
}
.toggle span {
    width: 25px;
    height: 2px;
    background-color: var(--color-primary);
    display: block;
    margin: 0 0 4px;
}
.social ul {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0;
}
.social ul li {
    list-style: none;
}
.social ul li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}
.social ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
.social ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background:linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}
.social ul li:nth-child(1) a:hover .fab{
    color: #3b5998;
}
.social ul li:nth-child(2) a:hover .fab {
    color: #00aced;
}
.social ul li:nth-child(3) a:hover .fab {
    color: #e4405f;
}

.toggle-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 100px);
    height: 100%;
    background-color: #fff;
    margin-left: 100px;
    z-index: 8;
    overflow-y: auto;
    transition: all ease 0.5s;
}
.toggle-menu ul li {
    list-style: none;
    display: block;
}
.toggle-menu ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 55px;
    font-weight: 700;
    color: var(--color-primary);
    text-transform: uppercase;
    margin: 30px 100px;
}
.toggle-menu ul li a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--color-background-secondary);
    z-index: -1;
    transition: var(--transition);
}
.toggle-menu ul li a:hover:before {
    width: 100%;
}
.name-tag {
    color: black;
}
